body
{
    background-color: #0f121f;
    background-image: url(/static/stars.png);
    background-repeat-y: no-repeat;
    color: #fff;
}
body *{
    font-family: "Agency FB"/*"AR BERKLEY", cursive*/;
}

h1, h2, h3, h4, h5
{
    font-weight: normal;
    margin: 0;
}
a, a:hover, a:visited{
    color: #fff;
    text-decoration: none;
}
.wrapper{
    max-width: 100%;
    margin: 0px auto;
}
nav
{
    padding-top: 5px;
    background-image: url("/static/stars.png");
    justify-self: center;
}

nav li{
    color: white;
    font-size:22px;
    margin-left: 10px;
    margin-right: 10px;
}
nav li:hover
{
    background-color: #00dba0;
}

button:hover{
    background-color: #00dba0;
}
nav button
{
    background: transparent;
    color: #fff;
    cursor: pointer;
    outline: none;
    border: none;
    overflow: hidden;
    font-size: 22px;
    margin-bottom: 0;
}
.site-form {
    margin-top: 60px;
    border: 1px solid #00dba0;
    padding: 20px;
}

.site-form input, .site-form textarea{
    display: block;
    margin: 20px 0 0px 0;
    padding: 10px;
    color: black;
}

.helptext, .helptext ul{
    margin: 0 auto 20px;
    color: #bbb;
    font-size: 14px;
    display: block;
}

.errorlist li{
    padding: 10px;
    list-style-type: none;
    border: 1px solid #FF5722;
    margin: 10px 0;
    color: #FF5722
}

.errorlist{
    padding: 0;
}

.site-form input[type="submit"]{
    background: #00dba0;
    border: 0;
    color: #fff;
    font-size: 20px;
    border-radius: 4px;
    margin: 10px 0;
}
.navbar
{
    padding-top: 10px;
}

div.wrapper  h1{
    text-align: center;
    margin: 50px auto;
    font-size: 2.4em
}
.articles{
    display: grid;
    /*grid-template-columns: 1fr 1fr 1fr;*/
    grid-gap: 30px;
}

#underline1
{
    border: 1px solid #00dba0;
}

.article .article-title
{
    font-weight: bolder;
    padding: 5px;
    text-align: center;
    margin: 0;
}
.article-thumbnail
{
    padding: 5px;
    border: 1px solid #00dba0;

}
.article .article-body
{
    margin-top: 10px;
    padding: 5px;
    border:1px solid #00dba0;
    font-size: 1.5em;

}
.article .article-date
{
    padding: 5px;
    border:1px solid #00dba0;
    font-size: 1.5em;
    margin-bottom: 10px;
    margin-top: 10px;
}
.article .article-author
{
    text-align: center ;
    border:1px solid #00dba0;
    font-size: 1.5em;
    margin-bottom: 0;
}
.article .article-author .author
{
    margin: 0;
    background-color: #00dba0;
}

.article
{
    padding:10px;
    background: transparent;
    border: 2px solid #00dba0;
    position: relative;
}
.article_list
{
    height: 200px;
    width: 400px;
    float: left;
    padding:10px;
    background: transparent;
    border: 2px solid #00dba0;
    position: relative;
    margin-left: 20px;
    margin-bottom: 20px;
    padding-bottom: 0;
}
.authorinlist
{
    text-align: center;
    padding: 10px;
    background: #00dba0;
    margin-bottom: 0;
    bottom: 0;
    font-size: 1em;
    color: white;
}
.article_list_title
{
    padding-bottom: 10px;
}
